body {
    margin-top: 50px;
    background-color: #4a4f55;
}
html {
    scroll-behavior: smooth;
    font-family: Consolas,"courier new";
}

.sidenav-wrapper {
    height: 100%;
    z-index: 10;
    top: 0px;
    left: 0px;
    position: fixed;
}
.sidenav-tab {
    width: 50px;
    height: 100%;
    border-radius: 0px 40px 40px 0px;
    top: 0px;
    left: 0px;
    z-index: inherit;
    position: absolute;
    background-color: #1d2f4d;
    align-content: center;
}
.sidenav-tab-icon {
    width: 80%;
    padding: 10%;
}
.sidenav {
    width: 250px;
    height: 100%;
    position: absolute;
    padding-top: 32px;
    z-index: inherit;
    top: 0px;
    left: -250px;
    overflow-x: hidden;
    background-color: #4e6180;
}
.sidenav a {
    padding: 32px 32px;
    text-align: right;
    text-decoration: none;
    font-size: 35px;
    color: #ffffff;
    border-radius: 0px 10px 10px 0px;
    display: block;
}
/* Change the color of links on hover */
.sidenav a:hover {
    background-color: #ddd;
    color: black;
}
/* Add a color to the active/current link */
.sidenav a.active {
    background-color: #98b9c9;
    color: rgb(0, 0, 0);
}


.top-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5.5vw;
    border-radius: 0px 0px 32px 0px;
    background-color: rgb(125, 151, 185);
    z-index: 1;
    display: flex;
}
.top-bar div {
    float:inline-start
}
.name-title-bubble {
    width: fit-content;
    height: 100%;
    z-index: inherit;
    background-color: rgb(88, 123, 168);
    border-radius: 0px 0px 32px 0px;
    padding: 0px 64px 0px 89px;
    overflow-y: hidden;
    display: flex;
}
.name-title-text {
    font-size: 4vw;
    font-weight: bold;
    margin: 0px;
    align-self: flex-end;
    color: #ffffff;
}
.profession-title-bubble {
    width: fit-content;
    height: 100%;
    z-index: inherit;
    padding: 0px 32px 0px 32px;
    overflow-y: hidden;
    display: flex;
}
.profession-title-text {
    font-size: 3vw;
    font-style: italic;
    font-weight: bold;
    margin: 0px;
    align-self: flex-end;
    padding-bottom: 8px;
    color: #000000;
}