body {
    margin-top: 50px;
    background-color: #2a4883;
}
html {
    scroll-behavior: smooth;
    font-family: Consolas,"courier new";
}

.sidenavtab {
    width: 50px;
    height: 100%;
    position: fixed;
    border-radius: 0px 20px 20px 0px;
    top: 0px;
    left: 0px;
    z-index: inherit;
    background-color: #002a6d;
    float: inline-start;
}

.sidenavwrapper {
    height: 100%;
    z-index: 10;
}

.sidenav {
    width: 250px;
    height: 100%;
    position: fixed;
    padding-top: 32px;
    z-index: inherit;
    top: 0px;
    left: -250px;
    overflow-x: hidden;
    background-color: #1965df;
}

.sidenav a {
    padding: 32px 32px;
    text-align: right;
    text-decoration: none;
    font-size: 35px;
    color: #000000;
    border-radius: 0px 10px 10px 0px;
    background-color: #1965df;
    display: block;
}
  
/* Change the color of links on hover */
.sidenav a:hover {
    background-color: #ddd;
    color: black;
}
  
/* Add a color to the active/current link */
.sidenav a.active {
    background-color: #1b839e;
    color: white;
}

.top-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    border-radius: 0px 0px 32px 0px;
    background-color: rgb(83, 52, 83);
    /* border-bottom: #000000 4px solid;
    border-right: #000000 4px solid; */
}

.name-title {
    font-size: 64px;
    font-style: normal;
    width: fit-content;
    background-color: rgb(175, 112, 175);
    border-radius: 0px 0px 32px 0px;
    padding: 16px 64px 16px 114px;
    /* border-bottom: #000000 4px solid;
    border-right: #000000 4px solid; */
    z-index: 1;
}